
body
{
  text-align: center;
  padding: 0px 180px 0px 180px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
}


.thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }
.back1
{
border: 5px solid blue;
width: 40px;
}

.Borders
{
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;
}	
	
h1
{
	color: #00B8A9;
}

.background1
{
	background-color: #00B8A9;
  padding: 50;
}


.background2
{
	background-color: #09d681;
  padding: 50;
  background-size: cover;
}


.background3
{
	background-color: #d60984;
  padding: 50;
}

.background4
{
  margin-left: auto;
  margin-right: auto;
	background-color: #9a09de;
}
